<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Taxes</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Taxes</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="title-taxe"> Taxes New-York </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="subtitle-taxe">*Taxe applicable pour une valeur supérieur ou égale à 110$ pour un vetêment </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="label-taxe">Prix en $</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input class="input-taxe" type="number" placeholder="Prix de l'article" v-model.number="price"> </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="label-taxe"> Taux taxe </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input class="input-taxe" disabled value="8.875 %"> </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="button-taxe" @click="calculateTaxe"> Calculer </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid v-if='result'>
          <ion-row>
            <ion-col>
              <ion-label class="result__taxe"> Montant de la taxe : {{taxe}} $ </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="title-result-container">
              <ion-label class="title-result"> Total  </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="title-result-container">
              <ion-label class="title-result__result"> {{result}} $ </ion-label>
            </ion-col>
          </ion-row>
            <ion-row>
            <ion-col class="title-result-container">
              <ion-button color="danger" @click="clear"> Vider </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonButton, IonRow, IonLabel, IonCol, IonInput,  } from '@ionic/vue';


export default  defineComponent({
  name: 'Tab1Page',
  components: {  IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonButton, IonRow, IonLabel, IonCol, IonInput},

  data() {
    return {
      price : 0,
      taxeRate : 0.08875,
      taxe : 0,
      result : 0
    }
  },
  methods: {
    calculateTaxe() {
      let taxe = this.price * this.taxeRate;
      this.taxe = Math.round(taxe * 100) / 100;
      let result = this.taxe + this.price;
      this.result = Math.round(result * 100) / 100;
    },
    clear(){
      this.price = 0;
      this.taxe = 0;
      this.result = 0;
    }
  },
});
</script>
<style lang="scss" scoped>
ion-item{
  --background: var(--ion-background-color);
}
.container{
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-taxe{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}

.subtitle-taxe{
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-color-dark);
  margin: 0;
  font-style: italic;
}
.title-result-container{
  text-align: center  ;
}
ion-input{
  border: 1px solid var(--ion-color-dark);
  background-color: var(--ion-background-color);
  border-radius: 10px;
}
.title-result{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.title-result__result{
  font-size: 32px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}

</style>