<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Pourboires</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Pourboires</ion-title>
        </ion-toolbar>
      </ion-header>
            <div class="container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="title-taxe"> Pourboires États-Unis </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="label-taxe">Montant repas en $</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input class="input-taxe" type="number" placeholder="Montant" v-model.number="price"> </ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="label-taxe"> Pourcentage pourboire </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
          <ion-row>
            <ion-col>
                <ion-input v-model.number="freeTips"  class="label-taxe" placeholder="20"> </ion-input>
              </ion-col>
            </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button class="button-taxe" @click="calculatePrice"> Calculer </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid v-if='result'>
          <ion-row>
            <ion-col>
              <ion-label class="result__taxe"> Montant du pourboire : {{valueTip}} $ </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="title-result-container">
              <ion-label class="title-result"> Total  </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="title-result-container">
              <ion-label class="title-result__result"> {{result}} $ </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="title-result-container">
              <ion-button color="danger" @click="clear"> Vider </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </div>
      
    </ion-content>
  </ion-page>
</template>

<script >
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent, IonButton, IonRow, IonLabel, IonCol, IonInput,  } from '@ionic/vue';
export default defineComponent({
  name: 'Tab2Page',
  components: {  IonHeader, IonToolbar, IonTitle, IonContent, IonPage, IonButton, IonRow, IonLabel, IonCol, IonInput },

    data() {
    return {
      price : 0,
      freeTips: 20,
      result : 0,
      valueTip :0,
    }
  },
  methods: {
    calculatePrice() {
          let round = this.freeTips / 100;
          this.valueTip = this.price * round;
          this.result = this.valueTip + this.price;

    },
    clear(){
      this.price = 0;
      this.freeTips = 0;
      this.result = 0;
      this.valueTip = 0;
      this.tip = 0;
    }
  },

});
</script>
<style lang="postcss" scoped>
ion-item{
  --background: var(--ion-background-color);
}
.container{
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-height: 600px) {
  .container{
    top: 0;
  }
}
  
.title-taxe{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.subtitle-taxe{
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-color-dark);
  margin: 0;
  font-style: italic;
}
.title-result-container{
  text-align: center  ;
}
ion-input{
  border: 1px solid var(--ion-color-dark);
  background-color: var(--ion-background-color);
  border-radius: 10px;
}
.radio_label{
  margin-left: 25px;
}
.title-result{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.title-result__result{
  font-size: 32px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.radio-tips{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

</style>