<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Taux de change</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Taux</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-scroll scrollX="true">
        <div class="container">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-label class="title-taxe"> Taux de change ($ en €) </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-input class="input-taxe" type="number" placeholder="Montant" v-model.number="price"> </ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button class="button-taxe" @click="calculatePrice"> Convertir </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid v-if='result'>
            <ion-row>
              <ion-col class="title-result-container">
                <ion-label class="title-result"> Prix en euro   </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-result-container">
                <ion-label class="title-result__result"> {{result}} € </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="title-result-container">
                <ion-button color="danger" @click="clear"> Vider </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-scroll>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { IonPage, IonHeader, IonToolbar, IonTitle, IonContent,  IonButton, IonRow, IonLabel, IonCol, IonInput,  } from '@ionic/vue';


export default defineComponent({
  name: 'Tab3Page',
  components: {  IonHeader, IonToolbar, IonTitle, IonContent, IonPage,  IonButton, IonRow, IonLabel, IonCol, IonInput,   },
   data() {
    return {
      price : 0,
      changeRate: 0.9484,
      result : 0,
  
    }
  },
  methods: {
    calculatePrice() {
      this.result = this.price * this.changeRate;
    },
    clear(){
      this.price = 0;
      this.result = 0;
    }
  },
});
</script>
<style lang="postcss" scoped>
ion-item{
  --background: var(--ion-background-color);
}
.container{
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-taxe{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.subtitle-taxe{
  font-size: 16px;
  line-height: 22px;
  color: var(--ion-color-dark);
  margin: 0;
  font-style: italic;
}

.title-result-container{
  text-align: center  ;
}
ion-input{
  border: 1px solid var(--ion-color-dark);
  background-color: var(--ion-background-color);
  border-radius: 10px;
}
.title-result{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.title-result__result{
  font-size: 32px;
  line-height: 26px;
  font-weight: bold ;
  color: var(--ion-color-primary);
  margin: 0;
}
.radio-tips{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

</style>